.item-card{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.checkbox{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.card-title{
    margin-left: 20px;
}
.item-card.high{
    border-left: 6px solid #E01717;

}
.item-card.medium{
    border-left: 6px solid #FFA800;
}

.item-card.low{
    border-left: 6px solid #44b400;

}
.badge{
    padding: 4px 10px;
    border-radius: 20px;
    width: 70px;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    text-transform: uppercase;
    font-weight: 700px;
    margin-right: 20px;
}

.item-card.high .badge{
    color: #E01717;
    background-color: #e0171733;
}
.item-card.medium .badge{
    color: #FFA800;
    background-color: #ffa80033;
}
.item-card.low .badge{
    color: #44b400;
    background-color: #44b40033;
}
.card-title{
    margin-left: 20px;
}
.card-title.strike{
    text-decoration: line-through;
}

.edit-icon{
    margin-right: 10px;

}